USE [master]
GO
/****** Object:  Database [Movie]    Script Date: 4/19/2025 12:13:18 PM ******/
CREATE DATABASE [Movie]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Movie', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Movie.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Movie_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Movie_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Movie].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Movie]
GO
/****** Object:  Table [dbo].[category]    Script Date: 4/19/2025 12:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NULL,
 CONSTRAINT [PK_9c4e4a89e3674fc9f382d733f03] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[country]    Script Date: 4/19/2025 12:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[movieId] [int] NULL,
 CONSTRAINT [PK_bf6e37c231c4f4ea56dcd887269] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[episode]    Script Date: 4/19/2025 12:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[episode](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ep_link] [nvarchar](255) NOT NULL,
	[ep_number] [int] NOT NULL,
	[movieId] [int] NULL,
 CONSTRAINT [PK_7258b95d6d2bf7f621845a0e143] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorite_movies]    Script Date: 4/19/2025 12:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorite_movies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[movieId] [int] NULL,
 CONSTRAINT [PK_7766c007e2e95de1d7a48953cbd] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genre]    Script Date: 4/19/2025 12:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genre](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NULL,
	[movieId] [int] NULL,
 CONSTRAINT [PK_0285d4f1655d080cfcf7d1ab141] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[migrations]    Script Date: 4/19/2025 12:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [bigint] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie]    Script Date: 4/19/2025 12:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[status] [nvarchar](255) NOT NULL,
	[release_year] [int] NOT NULL,
	[total_ep] [int] NOT NULL,
	[thumbnail] [nvarchar](255) NOT NULL,
	[trailer_url] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_cb3bb4d61cf764dc035cbedd422] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_categories_category]    Script Date: 4/19/2025 12:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_categories_category](
	[movieId] [int] NOT NULL,
	[categoryId] [int] NOT NULL,
 CONSTRAINT [PK_5966afcbb854aef6e0f4d2ae40c] PRIMARY KEY CLUSTERED 
(
	[movieId] ASC,
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rating]    Script Date: 4/19/2025 12:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rating](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rating] [int] NOT NULL,
	[review] [nvarchar](255) NOT NULL,
	[userId] [int] NULL,
	[movieId] [int] NULL,
 CONSTRAINT [PK_ecda8ad32645327e4765b43649e] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[token]    Script Date: 4/19/2025 12:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[token](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [text] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[expiresAt] [datetime] NOT NULL,
	[userId] [int] NULL,
 CONSTRAINT [PK_82fae97f905930df5d62a702fc9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 4/19/2025 12:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](255) NOT NULL,
	[resetToken] [nvarchar](255) NULL,
	[resetTokenExpires] [datetime] NULL,
	[userTypeId] [int] NULL,
 CONSTRAINT [PK_cace4a159ff9f2512dd42373760] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_e12875dfb3b1d92d7d7c5377e22] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_type]    Script Date: 4/19/2025 12:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_1f9c6d05869e094dee8fa7d392a] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[watch_history]    Script Date: 4/19/2025 12:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[watch_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ep_number] [int] NOT NULL,
	[watch_time] [datetime2](7) NULL,
	[user_id] [int] NULL,
	[movie_id] [int] NULL,
 CONSTRAINT [PK_4a7d6381618ede4bcde39b5a708] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_0d43cf9426be5b4db28f207179]    Script Date: 4/19/2025 12:13:19 PM ******/
CREATE NONCLUSTERED INDEX [IDX_0d43cf9426be5b4db28f207179] ON [dbo].[movie_categories_category]
(
	[movieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_32d9eb1bb6f1e2bee2411b7226]    Script Date: 4/19/2025 12:13:19 PM ******/
CREATE NONCLUSTERED INDEX [IDX_32d9eb1bb6f1e2bee2411b7226] ON [dbo].[movie_categories_category]
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[token] ADD  CONSTRAINT [DF_929f7d7caa0b6a61df7735a2671]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[country]  WITH CHECK ADD  CONSTRAINT [FK_f3651ce32bc66c99bde73f6c8eb] FOREIGN KEY([movieId])
REFERENCES [dbo].[movie] ([id])
GO
ALTER TABLE [dbo].[country] CHECK CONSTRAINT [FK_f3651ce32bc66c99bde73f6c8eb]
GO
ALTER TABLE [dbo].[episode]  WITH CHECK ADD  CONSTRAINT [FK_e41b7c5d24abe1d1cf4739c720d] FOREIGN KEY([movieId])
REFERENCES [dbo].[movie] ([id])
GO
ALTER TABLE [dbo].[episode] CHECK CONSTRAINT [FK_e41b7c5d24abe1d1cf4739c720d]
GO
ALTER TABLE [dbo].[favorite_movies]  WITH CHECK ADD  CONSTRAINT [FK_732163356ae4224dd7fe1ae85b5] FOREIGN KEY([movieId])
REFERENCES [dbo].[movie] ([id])
GO
ALTER TABLE [dbo].[favorite_movies] CHECK CONSTRAINT [FK_732163356ae4224dd7fe1ae85b5]
GO
ALTER TABLE [dbo].[favorite_movies]  WITH CHECK ADD  CONSTRAINT [FK_ad08da426f2a5c6c7ba76a193ad] FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[favorite_movies] CHECK CONSTRAINT [FK_ad08da426f2a5c6c7ba76a193ad]
GO
ALTER TABLE [dbo].[genre]  WITH CHECK ADD  CONSTRAINT [FK_e448219294ec94ef992db292ebb] FOREIGN KEY([movieId])
REFERENCES [dbo].[movie] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[genre] CHECK CONSTRAINT [FK_e448219294ec94ef992db292ebb]
GO
ALTER TABLE [dbo].[movie_categories_category]  WITH CHECK ADD  CONSTRAINT [FK_0d43cf9426be5b4db28f2071794] FOREIGN KEY([movieId])
REFERENCES [dbo].[movie] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movie_categories_category] CHECK CONSTRAINT [FK_0d43cf9426be5b4db28f2071794]
GO
ALTER TABLE [dbo].[movie_categories_category]  WITH CHECK ADD  CONSTRAINT [FK_32d9eb1bb6f1e2bee2411b7226c] FOREIGN KEY([categoryId])
REFERENCES [dbo].[category] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movie_categories_category] CHECK CONSTRAINT [FK_32d9eb1bb6f1e2bee2411b7226c]
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FK_1a3badf27affbca3a224f01f7de] FOREIGN KEY([movieId])
REFERENCES [dbo].[movie] ([id])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FK_1a3badf27affbca3a224f01f7de]
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FK_a6c53dfc89ba3188b389ef29a62] FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FK_a6c53dfc89ba3188b389ef29a62]
GO
ALTER TABLE [dbo].[token]  WITH CHECK ADD  CONSTRAINT [FK_94f168faad896c0786646fa3d4a] FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[token] CHECK CONSTRAINT [FK_94f168faad896c0786646fa3d4a]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_29f29dffce2845a1abc901d4e85] FOREIGN KEY([userTypeId])
REFERENCES [dbo].[user_type] ([id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_29f29dffce2845a1abc901d4e85]
GO
ALTER TABLE [dbo].[watch_history]  WITH CHECK ADD  CONSTRAINT [FK_5e1169219c2bda5624a4b65742d] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[watch_history] CHECK CONSTRAINT [FK_5e1169219c2bda5624a4b65742d]
GO
ALTER TABLE [dbo].[watch_history]  WITH CHECK ADD  CONSTRAINT [FK_cff7480bc2d70fc9e78f4ec6204] FOREIGN KEY([movie_id])
REFERENCES [dbo].[movie] ([id])
GO
ALTER TABLE [dbo].[watch_history] CHECK CONSTRAINT [FK_cff7480bc2d70fc9e78f4ec6204]
GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 4/19/2025 12:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[RegisterUser]
    @Name NVARCHAR(255),
    @Email NVARCHAR(255),
    @Password NVARCHAR(255),
    @Phone NVARCHAR(20) = NULL,
    @UserTypeId INT = 2,
    @Result NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra email đã tồn tại
    IF EXISTS (SELECT 1 FROM [dbo].[user] WHERE [email] = @Email)
    BEGIN
        SET @Result = 'Email already exists.';
        RETURN;
    END

    -- Chèn người dùng mới
    INSERT INTO [dbo].[user] ([name], [password], [email], [phone], [userTypeId])
    VALUES (@Name, @Password, @Email, @Phone, @UserTypeId);

    SET @Result = 'User registered successfully.';
END
GO
USE [master]
GO
