.header {
  position: fixed;
  top: 20px;
  left: 30px;
  width: 90%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  background-color: transparent;
}
.toggle-header-btn {
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}

.toggle-header-btn:hover {
  color: #0ea5e9;
}


/* Icon trái */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* Link icon */
.nav-link {
  color: #d4d4d8;
  transition: color 0.2s;
}

.nav-link:hover {
  color: white;
}

/* Thanh tìm kiếm */
.search-bar {
  flex: 1; /* giúp mở rộng chiếm khoảng trống */
  max-width: 50%;
  margin: 0 1rem;
  position: relative;
}

/* Input */
.search-bar input {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #27272a;
  border: 1px solid #3f3f46;
  border-radius: 9999px;
  color: white;
  font-size: 0.875rem;
}

.search-bar input::placeholder {
  color: #a1a1aa;
}

.search-bar input:focus {
  outline: none;
  border-color: #52525b;
}

/* Nút tìm */
.search-button {
  right: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #a1a1aa;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nút phải */
.auth-buttons {
  display: flex;
  gap: 0.5rem;

}

/* Link bọc nút */
.auth-link {
  text-decoration: none;
}

/* Nút đăng nhập */
.login-btn-header {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  background-color: transparent;
  border: 1px solid #52525b;
  color: #e4e4e7;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-btn-header:hover {
  background-color: #27272a;
}

/* Nút đăng ký */
.register-btn-header {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  background-color: #0d9488;
  border: none;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.register-btn-header:hover {
  background-color: #0f766e;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  .toggle-header-btn {
    display: flex; /* chỉ hiện trên màn hình nhỏ */
  }
  .search-bar {
    order: 3;
    max-width: 100%;
    margin-top: 0.5rem;
  }

  .nav-icons {
    order: 1;
  }

  .auth-buttons {
    order: 2;
  }
}

@media (max-width: 480px) {
  .auth-buttons {
    flex-direction: column;
    gap: 0.25rem;
  }
}
