.home-container {
  /* width: 100vw; */
  /* height: 100vh; */
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Căn giữa theo chiều dọc */
  align-items: center; /* Căn giữa theo chiều ngang */
  overflow: hidden;
}

.slider {
  width: 70vw; /* Chiều rộng chiếm 70% màn hình */
  max-width: 1000px;
  height: 60vh; /* Chiều cao chiếm 60% màn hình */
  max-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: black;
  border-radius: 10px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
}

.prev-btn { left: 50px; } /* Đẩy mũi tên sang trái */
.next-btn { right: 50px; } /* Đẩy mũi tên sang phải */


.prev-btn:hover,
.next-btn:hover {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

/* DANH SÁCH PHIM */
.popular-movies {
  margin-top: 20px;
}

h2 {
  text-align: left;
  margin-left: 5%;
  font-size: 20px;
  font-weight: bold;
}

.movie-list {
  display: flex;
  justify-content: center;
  gap: 20px; /* Khoảng cách giữa các ảnh */
  flex-wrap: wrap; /* Giữ các ảnh luôn trong giới hạn */
}

.movie-item {
  width: 150px; /* Đặt chiều rộng cố định */
  text-align: center;
}

.movie-thumbnail {
  width: 100%; /* Ảnh sẽ chiếm toàn bộ chiều rộng của div */
  height: 200px; /* Đặt chiều cao cố định */
  object-fit: cover; /* Cắt ảnh vừa khung mà không méo */
  border-radius: 10px; /* Bo góc cho đẹp */
}

.movie-item:hover {
  transform: scale(1.1);
}

p {
  font-size: 14px;
  margin-top: 5px;
}
