

.register-container {
  width: 350px;
  height: 500px;
  background: linear-gradient(135deg, rgba(98, 93, 121, 0.5), rgba(167, 139, 255, 0.5));
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 30px;
  margin: 50px auto;
}

h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}


.form-group input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #f5f5d5;
  font-size: 1rem;
  box-sizing: border-box;
}

.form-group input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(167, 139, 255, 0.5);
}

.form-group .error {
  color: #ff4081;
  font-size: 0.9rem;
  margin-top: 5px;
}

.register-btn {
  width: 100%;
  padding: 15px;
  background-color: #ff4081;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
}

.register-btn:hover {
  background-color: #e03570;
}
